%li
  = link_to("Settings", edit_user_registration_path, class: "collapse-link")
%li
  = link_to("Orders", orders_path, class: "collapse-link")
%li.divider{role: "separator"}
%li
  = link_to('Log out', destroy_user_session_path, method: :delete, class: "collapse-link")
