%ul.list-inline.general-align.mb-25
  %li
    = link_to("Home", root_path, class: "nav-link")
  %li
    = link_to("Shop", books_path, class: "nav-link")
  %li
    = link_to("Orders", orders_path, class: "nav-link")
  %li
    = link_to("Settings", edit_user_registration_path, class: "nav-link")
